.container-fluid {
    position: absolute;
    left: 30%;
    width: 70%;
    height: 90%;
    top: 5%;
}

button#logout_button {
    position: absolute;
    left: 42%;
}

select#jobs {
    width: 100%;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #555;
}

input#remarks {
    height: 70px;
}

button#next_button{
    position: absolute;
    right: 0%;
}