@import '~@angular/material/theming';

@include mat-core();


$my-theme-primary: mat-palette($mat-yellow, 700);
$my-theme-accent:  mat-palette($mat-brown, 800);

$my-theme-warn:    mat-palette($mat-green);

$my-theme-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

@include angular-material-theme($my-theme-theme);