/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; }
body { height: 100vh; }

html {
    background-color: #56baed;
  }

  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }

*{
    margin: 0; font-family: Celias,Helvetica; 
}

a{
    color: #000 !important;
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

button#next_button{
    width: 100px !important;
    font-size: 15px !important;
}